* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {

  
  
  margin:0;
    padding:0;
    
    background: url(chat.jpg);
    background-size: cover;
   
    font-family: 'Times New Roman', Times, serif;

  
}

form {
  background: #000;
  padding: 3px;
  position: fixed;
  width: 38%;
}

form input {
  border: 0;
  padding: 10px;
  width: 89%; /* 90% is too much */
  margin-right: .5%;
}

form #button {
  color: #FFF;
  background: #2D9F0B;
  border: none;
  padding: 10px;
  width: 9%;
}

#messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#messages li {
  padding: 5px 10px;
}

#messages li:nth-child(odd) {
  background: #eee;
}

#notifyUser {
  position: fixed;
  bottom: 52px;
  width: 100%;
}
.harish{
  width:40%;
  height:100%;
  float:left;
}
.reddy{
  width:58%;
  height:100%;
  float:right;
  background:	#f7e2ab;
}

/* Reference: http://javabeginnerstutorial.com/javascript-2/create-simple-chat-application-using-node-js-express-js-socket-io/ */